@font-face {
   font-family: "Avenir Next";
   src: url("Avenir Next.ttc");
}
.center{
    text-align: center;
}
#sidebar{
    position: fixed;
    z-index: 1;
    width: 100px;
    height: 80px;
    
    right:0px;
    top: 30%;
}
#Experience{
    background-color: cyan;
    height:100vh;
    width:100vw;
}
#skill{
    background-color: yellow;
    height:100vh;
    width:100vw;


}
body{
    font-family: "Avenir Next";
}
#photo{
    width: 50%;
    height: 50%;
    position: relative;
    left:25%;
}
#first{
    height:100vh;
    width:100vw;
    background-color: red;
}
#contact{
    background-color: green;
    height:100vh;
    width:100vw;
}

ul.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: grey;
}

li.menu {
    float: left;
}

li.menu a  {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li.menu a:hover {
    background-color: white;
}
li.side{
    float: none;
    background-color:pink;
    list-style-type: none;


}

li.side a  {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li.side a:hover {
    background-color: white;
}
